<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		Add User
	</ui:define>

	<ui:define name="content">

		<h:form id="addbook2">
			<h:panelGrid columns="2" id="addbp2">
			
			<h:outputLabel value="Description : " />
			<h:inputTextarea value="#{bookBean.book.description}" cols="2" />
						
			<h:outputLabel value="Nbre pages : " />
			<h:inputText value="#{bookBean.book.nbOfpage}" />
			
			<h:outputLabel value="Illustrations : " />
			<h:selectBooleanCheckbox value="#{bookBean.book.illustrations}" >
			
			</h:selectBooleanCheckbox>
				 
			<h:commandButton action="#{bookBean.doAdd2()}" value="Next" />
			<h:commandButton action="#{bookBean.back()}" value="Back" />
			
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
