<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		Add User
	</ui:define>

	<ui:define name="content">

		<h:form id="addbook">
			<h:panelGrid columns="2" id="addbp">
			
			<h:outputLabel value="Title : " />
			<h:inputText value="#{bookBean.book.title}" />
						
			<h:outputLabel value="Price : " />
			<h:inputText value="#{bookBean.book.price}" />
				 
			<h:commandButton action="#{bookBean.doAdd()}" value="Next" />
			<h:commandButton action="#{bookBean.cancelBook()}" value="Cancel" />
			
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
