<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		List of books
	</ui:define>

	<ui:define name="content">
		<h:form id="formlist">
			<h:dataTable value="#{bookBean.books}" var="book" border="1" style="align:center" width="80%" >

					<f:facet name="header">Books</f:facet>
					
				<h:column>
					<f:facet name="header">Title</f:facet>
					<h:outputText value="#{book.title}" />
				</h:column>
				<h:column>
					<f:facet name="header">Price</f:facet>
					<h:outputText value="#{book.price}" />
				</h:column>
			</h:dataTable>
		</h:form>
		<div></div>
	</ui:define>
</ui:composition>
