<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		Welcome #{userBean.user.login}
</ui:define>
	<ui:define name="content">
		<h:form id="form1">
		<center>
		<br></br><br></br>
		<h:link outcome="/admin/addLivre1" value="Ajouter un livre"/>
		<br></br><br></br><br></br>
		<h:link outcome="/admin/livres" value="Lister mes livres"/>
		<br></br><br></br>
			<h:commandButton action="#{userBean.logOut()}" value="LogOut" />
			</center>
		</h:form>

	</ui:define>
</ui:composition>
