<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		Page d'authentification
	</ui:define>

	<ui:define name="content">
		<h:form id="form">
			<h:panelGrid columns="2">
				<h:outputLabel value="Login : " />
				<h:inputText value="#{userBean.login}"/>
				<h:outputLabel value="Password : " />
				<h:inputSecret value="#{userBean.password}" />
				<h:commandButton id="btn" action="#{userBean.login()}"
					value="Login" />
				<h:message for="btn" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
